.col {
    padding: 0 !important;
}

#pokemonImg {
    height: 320px;
    width: 100%;
    background-color: white;
    border: 10px solid #CDCDCD;
}

h1 {
    padding: 0 !important;
    margin: 0 !important;
}


.button-container {
    padding: 10px 20px;
}

#pokemon {
    padding: 10px;
    border-radius: 10px;
    border: 4px solid black;
}


#pokedex {
    margin: 60px auto;
    width: 26rem;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 25px 22px !important;
    background-color: #D42B2B !important;
    border-radius: 60px;
}

li {
    padding: 10px !important;
}

.heading {
    color: #EEF443;
}

label {
    padding-right: 5px;
}

#footer-0 {
    height: 250px;
    margin: 0 !important;
}

#input {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
}

hr {
    border: 2px solid black !important;
}

.exterior {
    border: 10px solid #6C0303 !important;
}

#pokemonLogo {
}