html {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: content-box !important;
}

.col {
    padding: 0 !important;
}

img {
    height: 320px;
    width: 100%;
    background-color: white;
    border: 4px solid black;
}

h1 {
    padding: 0 !important;
    margin: 0 !important;
}


.button-container {
    padding: 10px 20px;
}

#defense {
    float: right;
    width: 180px;
}

#attack {
    float: left;
    width: 180px;
}

#pokemon {
    padding: 5px;
    border-radius: 10px;
}


#pokedex {
    margin-top: 80px;
    width: 28rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px !important;
    border-radius: 10px;
}

label {
    padding-left: 80px;
}

li {
    padding: 5px !important;
}